@charset "utf-8";
/* CSS Document */

body {
	color: #ffffff;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
	background-color: #B8F3FF;
	background-image: url("../img/silueta.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment:fixed;
	background-size: cover;
	margin: 50px 50px 50px 100px;
}

h1 {
	color: #FF00BE;
	font-family: 'Allura', cursive;
	font-size: 100px;
	/* font-family: "FuenteEspecial"; */
}

h2 {

	font-family: "FuenteNormal";
}

h5 {
	color: #2B2B2B;
	font-size: 38px;
}

p {
	font-family: 'Open Sans', sans-serif;
	/** font-family: "FuenteNormal"; */
}

b {
	font-size: 20px;
}


@font-face {
	font-family: "FuenteEspecial";
	src: url( "../fonts/BebasNeue-Regular.woff2"),
		 url("../fonts/BebasNeue-Regular.woff"),
		 url("../fonts/BebasNeue-Regular.ttf");
}

@font-face {
	font-family: "FuenteNormal";
	src: url("../fonts/RobotoSlab-Regular.ttf");
}

.importante {
	color: #000000
}


.cabecera {
	background-color: hsla(0,0%,100%,0.72);
	background-image: url("../img/lirios.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	padding: 20px;
	font-size: 60%;
	text-align: center;
}


.contenido1 {
	color: black;
	font-size: 22px;
	background-color: hsla(0,0%,100%,0.72);
	padding: 100px 20px 100px 20px;
	text-align: center;
}

.contenido2 {
	color: #ffffff;
	background-color: hsla(0,0%,100%,0.72);
	background-image: url("../img/textura.jpg");
	background-repeat: no-repeat;
	background-position:left;
	background-attachment:scroll;
	background-size:cover;

	padding:  100px 250px 100px 250px;
	text-align: center;


}

.pie-de-pagina {
	color: #FFFFFF;
	background-color: hsla(209,100%,31%,1.00);
	padding: 50px 50px 50px 50px;
	text-align: center;
}

.azul {
	color: hsla(209,99%,50%,1.00);
}